<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
<h1>Welcome to AutoServer</h1>
Functions Available:
<ul>
    {% for fn in fnList %}
        <li><a href="{{ fn.frontEndPoint }}"><b>{{ fn.name }}:</b></a> {{ fn.desc }} </li>
    {% endfor %}
</ul>
</body>
</html>