<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
<h1>Welcome to AutoServer</h1>
<table>
    <tr>
        <th>Function</th>
        <th>Description</th>
    </tr>
    {% for fn in fnList %}
        <tr>
            <th><a href="{{ fn.frontEndPoint }}">{{ fn.name }}</a></th>
            <th>{{ fn.desc }}</th>
        </tr>
    {% endfor %}
</table>
</body>
</html>